
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/


/sysinfo.txt
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db


# macOS
.DS_Store
# Windows
Thumbs.db
# Linux
*.swp
*.lock


# Keeps materials, shaders, assets, and packages intact
/[Aa]ssets/AssetStoreTools*
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds?/
/[Ll]ogs/
/UserSettings/
!/[Aa]ssets/**/*.mat
!/[Aa]ssets/**/*.shader


.vscode/
.idea/
*.csproj
*.unityproj
*.sln


/[Aa]ssets/AddressableAssetsData/*
/[Aa]ssets/StreamingAssets/*


!/[Aa]ssets/
!/[Pp]ackages/
!/[Pp]rojectSettings/
!/[Aa]ssets/**/*.mat
!/[Aa]ssets/**/*.prefab
!/[Aa]ssets/**/*.unity
!/[Aa]ssets/**/*.asset
